html, body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: none;
  overflow: auto;
  position: relative;
  word-break: break-all;
}
.white-color {
  color: #fff;
}